.container {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    max-width: 300px;
    margin: auto;
    text-align: center;
    font-family: arial;
}

.image {
    width: 100px;
}

.title {
    font-size: 18px;
}

.price {
    color: gray;
    font-size: 22px;
}

.description {
    font-size: small;
}